---
import TheNavbar from "../components/TheNavbar.vue";
import TheFooter from "../components/TheFooter.vue";
---

<html lang="en" data-theme="dracula">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <TheNavbar />
    <article>
      <slot />
    </article>
    <TheFooter />
  </body>
</html>
